.App {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  gap: 60px;
}

.home {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-image {
  z-index: -1;
  position: absolute;
  top: 87px;
  background-image: url("/public/assets/background-image.jpg");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 45%;
}

.cards {
  display: flex;
  gap: 50px;
  justify-content: center;
}

@media (max-width: 1420px) {
  .App {
    height: 100%;
    justify-content: space-between;
  }

  .cards {
    flex-wrap: wrap;
  }

  footer {
    margin: 0;
    position: relative;
  }
}